<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
<system.serviceModel>
    <services>
      <service name="DataContract_.Navigator">
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://127.0.0.1:5000/DataContract_"/>
          </baseAddresses>
        </host>
        <endpoint address="" binding="netTcpBinding" contract="DataContract_.Navigator"/>
      </service>
    </services>
  </system.serviceModel>
</configuration>