@{
	Layout = null;
}
<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width"/>
	<title>Информация о продукте</title>
</head>
<body>
	<h1>Идентификатор продукта: @ViewBag.ProductId</h1>
	<a href="/Home/Index">Назад</a>
</body>
</html>