@{
	Layout = null;
	ViewBag.Title = "Home Page";
}

<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
	<script src="~/scripts/jquery-3.3.1.min.js" type="text/javascript"></script>
	<script src="~/scripts/jquery.unobtrusive-ajax.min.js" type="text/javascript"></script>
	<title>Index</title>
</head>
<body>
	<div class="container my-4">
		<div class="fixed-top p-4 bg-white">
			@using (Ajax.BeginForm("GetTable", new AjaxOptions() { UpdateTargetId = "table" }))
			{
				<div class="row">
					<div class="col col-md-10">
						<input type="text" name="search" class="form-control" />
					</div>
					<div class="col col-md-2">
						<input type="submit" class="btn btn-outline-success btn-block" value="Поиск" />
					</div>
				</div>
			}
		</div>
		<div id="table" style="margin-top: 80px;">

		</div>
		
	</div>
</body>
</html>
