<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <system.serviceModel>
    <services>
      <service name="Server.ServerService">
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://192.168.1.5:12700/ServerService"/>
          </baseAddresses>
        </host>
        <endpoint address="" binding="netTcpBinding" contract="Server.ServerService"/>
      </service>
    </services>
  </system.serviceModel>
</configuration>