@{
	ViewBag.Title = "Добавить фильм";
}

<form method="POST" action="">
	<div class="form-group">
		<label for="name">Название жанра</label>
		<input name="Name" type="text" placeholder="Введите название жанра" class="form-control" id="name">
	</div>
	<button class="btn btn-primary btn-block" type="submit" name="sumbit">Добавить</button>
</form>
