<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="netTcpBinding_ClientService"/>
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint name="MyConfig"
                address="net.tcp://192.168.1.5:12700/ServerService"
                binding="netTcpBinding"
                bindingConfiguration="netTcpBinding_ClientService"
                contract="Server.ServerService"/>
    </client>
  </system.serviceModel>
</configuration>