<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <system.serviceModel>
      <services>
        <service name="GameServer.Game">
          <host>
            <baseAddresses>
              <add baseAddress="net.tcp://127.0.0.1:5000/Server"/>
            </baseAddresses>
          </host>
          <endpoint address="" binding="netTcpBinding" contract="GameServer.Game"/>
        </service>
      </services>
    </system.serviceModel>
</configuration>