<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
      <services>
        <service name="WcfServerTwo.CalcService">
          <host>
            <baseAddresses>
              <add baseAddress="net.tcp://10.3.60.42:5000/WcfServerTwo"/>
            </baseAddresses>
          </host>
          <endpoint address="" binding="netTcpBinding" contract="WcfServerTwo.CalcService"/>
        </service>
      </services>
    </system.serviceModel>
</configuration>