@model ASP.NET_MVC_9.Models.Product
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
	<script src="~/scripts/jquery-3.3.1.min.js" type="text/javascript"></script>
	<script src="~/scripts/jquery.unobtrusive-ajax.min.js" type="text/javascript"></script>
	<title>Index</title>
	<style>
		.field-validation-error
		{
			color: red;
		}
	</style>
</head>
<body>
    <div class="container my-4">
		<div class="row">
			<div class="col offset-4 col-4">
				@using (Html.BeginForm("Index", "Home", FormMethod.Post))
				{
					@Html.EditorForModel()
					<br />
					<input type="submit" class="btn btn-outline-primary" />
				}
			</div>
		</div>
    </div>
	<script>
		$(document).ready(function () {
			$("input").each(function () {
				$(this).addClass("form-control");
			});
			$("label").each(function () {
				$(this).addClass("mt-2");
			});
		});
	</script>
</body>
</html>
