<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="netTcpBinding_ClientService"/>
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://10.3.60.42:5000/WcfServerTwo"
                binding="netTcpBinding"
                bindingConfiguration="netTcpBinding_ClientService"
                contract="WcfServerTwo.CalcService"
                name="MyConfig"/>
    </client>
  </system.serviceModel>
</configuration>